@import '@/styles/layout.scss';
@import '@/styles/mixins.scss';


#pageWrapper {
  min-height: 100vh;
  background: linear-gradient(rgba(15, 14, 14, 0.7), rgba(0, 0, 0, 0.38)), url(assets/wallpep.jpg) no-repeat center center fixed;
    background-size: auto, auto;
  background-size: cover;
  width: 100%;
}

.container {
  @include container;
}