@import './styles/layout.scss';
@import './styles/mixins.scss';

.mainPageWrapper {
  width: 57%;
  right: 10%;
  left: 35%;
  position: relative;
  min-height: 100vh;

  @include breakpoint(mobileTablet) {
    width: 100%;
    position: static;
  }

  @include breakpoint(onlyDesktop) {
    left: 30%;
    width: 65%;
  }
}
.mainPageContainer {
  @include container;
}

.mainPageSection {
  border-bottom: 3px solid rgba(250, 250, 250, 0.25);
}