@import './styles/mixins';
.skills {

}

.skillsRow {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 10px;

  @include breakpoint(mobile) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.skillsTabs {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: 20px;
  .myWorkTabsItem {
    @include resetButtonStyles;
    text-transform: capitalize;
    display: inline-block;
    margin-right: 15px;
    padding-bottom: 3px;
    font-size: 15px;
    font-weight: 700;
    border-bottom: 2px solid transparent;
    transition: border-bottom ease-in-out 0.5s;
    cursor: pointer;
    color: #fff;
    &:hover {
      color: #a43f49;
      border-bottom: 2px solid #a43f49;
    }
    &.active {
      color: #a43f49;
      border-bottom: 2px solid #a43f49;
    }
    &.active {
      color: #a43f49;
    }
  }
}

.buttonWrapper {
  display: flex;
  justify-content: center;
  margin-top: 50px;

  button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #fff;
    color: #a43f49;
    font-size: 12px;
    font-weight: 800;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    transition: all 0.5s;
    border: none;
    outline: none;
    cursor: pointer;
    &:hover {
      outline: none;
      background-color: #a43f49;
      color: #fff;
    }
  }
}