@import './styles/mixins.scss';

.postItem {
  display: grid;
  grid-template-areas: 'date content';
  column-gap: 45px;
  border-bottom: 1px solid rgba(250, 250, 250, 0.1);
  padding-bottom: 60px;
  &:last-child {
    border-bottom: none;
    padding-bottom: 0;
  }
  &:nth-child(2n) {
    grid-template-areas: 'content date';
  }

  @include breakpoint(mobile) {
    grid-template-areas: none;
    &:nth-child(2n) {
      grid-template-areas: none;
    }
  }
}

.postDate {
  grid-area: date;
  color: #fff;
  font-size: 55px;
  align-self: center;

  @include breakpoint(mobile) {
    grid-area: auto;
    margin: 0 auto;
  }
}

.postContentWrapper {
  padding: 30px 0;
  grid-area: content;

  @include breakpoint(mobile) {
    grid-area: auto;
  }
}

.postContentTitle {
  font-size: 26px;
  font-weight: 700;
  padding: 0;
  margin: 0 0 5px 0;
  color: #fff;
  letter-spacing: 0.25px;
}

.postContentText {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 16px;
  line-height: 24px;
  margin-top: 20px;
  color: #fff;
}

.postSkills {
  display: flex;
  flex-wrap: wrap;
  margin-top: 45px;
}

.postSkillsItem {
  color: #fff;
  font-size: 14px;
  display: inline-block;
  padding: 5px 15px;
  border: 1px solid #fff;
  border-radius: 5px;
  background-color: #fff3;
  margin: 0 10px 10px 0;
  transition: background-color .5s;
  cursor: pointer;
  &:hover {
    background-color: #fff1;
  }
}

.postContentSite a {
  font-size: 16px;
  line-height: 24px;
  color: #8c363e;
  text-decoration: none;
  &:hover {
    color: #fff;
  }
}

.postContentLink {
  margin-top: 30px;
  a {
    display: inline-block;
    padding: 12px 20px;
    background-color: #fff;
    color: #a43f49;
    font-size: 13px;
    font-weight: 800;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    transition: all 0.5s;
    &:hover {
      background-color: #a43f49;
      color: #fff;
    }
  }
}