

.form {
  ::placeholder {
    color: #fff;
  }

  .formRow {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .formCol {
    margin-bottom: 30px;
    width: 100%;
  }

  .formCol6 {
    max-width: 49%;
  }

  .formInput{
    display: block;
    background-color: rgba(250,250,250,0.1);
    border: 1px solid rgba(250,250,250,1);
    background-clip: padding-box;
    border-radius: 0px;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    height: 40px;
    line-height: 40px;
    width: 100%;
    padding-left: 15px;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  }

  .formButton {
    display: inline-block;
    padding: 10px 20px;
    background-color: #fff;
    color: #a43f49;
    font-size: 12px;
    font-weight: 800;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    transition: all 0.5s;
    border: none;
    outline: none;
    cursor: pointer;

    &:hover {
      outline: none;
      background-color: #a43f49;
      color: #fff;
    }
  }

  fieldset {
    min-width: 0;
    padding: 0;
    margin: 0;
    border: 0;
  }

  textarea {
    background-color: rgba(250,250,250,0.1);
    border: 1px solid rgba(250,250,250,1);
    border-radius: 0px;
    color: #fff;
    font-size: 14px;
    max-height: 220px;
    line-height: 40px;
    width: 100%;
    padding-left: 15px;
    outline: none;
    overflow: auto;
    resize: vertical;
  }

  .formButtonWrapper {
    display: flex;
    justify-content: center;
    width: 100%;
  }
}

